---
import {getCollection, render} from 'astro:content';
import {SITE_DESCRIPTION, SITE_TITLE} from '../../consts';
import DefaultLayout from '../../layouts/Default.astro';

export async function getStaticPaths() {
  const postEntries = await getCollection('blog');
  return postEntries.map((entry) => ({
    params: {slug: entry.data.slug},
    props: entry,
  }));
}

const entry = Astro.props;
const { Content } = await render(entry);
---
<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p>Published on: {entry.data}</p>
  <Content />
</DefaultLayout>
