@import "tailwindcss";

@theme {
  --font-base: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --color-background: #0d1117;
  --color-text: #cfcfd1;
  --color-header: #161b22;
  --color-accent: #5bbee4;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-base);
}
