---
import {getCollection} from 'astro:content';
import Tag from '../../components/Tag.astro';
import DefaultLayout from '../../layouts/Default.astro';

const slug = Astro.params;
const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
---

<DefaultLayout title="タグ一覧" description="タグ一覧">
  <main class="py-8">
    <div class="container mx-auto px-4 max-w-7xl">
      <h1 class="text-4xl font-bold text-white text-center mb-4">タグ一覧</h1>
      <section class="flex flex-wrap gap-3 p-4">
        {tags.map((tag) => <Tag tag={tag} />)}
      </section>
    </div>
  </main>
</DefaultLayout>
