---
import {getCollection} from 'astro:content';
import Tag from '../../components/Tag.astro';
import DefaultLayout from '../../layouts/Default.astro';

const slug = Astro.params;
const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
---

<DefaultLayout title="タグ一覧" description="タグ一覧">
  <main>
    <h1>タグ一覧</h1>
    <section class="container mt-lg px-md">
      <ul style="padding-left: 0">
        {
          tags.map((tag) => (
            <Tag tag={tag} />
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>

<style>
  .tag {
    display: inline-block;
    background-color: #fafafa;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem 0;
    border-radius: 0.5rem;
  }

  .hash-tag {
    color: #7cc7e8;
    font-weight: bold;
    padding-right: 0.25rem;
  }
</style>
