---
const today = new Date();
---

<footer class="container">
  <p class="text-sm"><small>&copy;</small> {today.getFullYear()} 0maru.</p>
	<div class="social-links">
		<a href="https://twitter.com/0maru_dev" target="_blank" aria-label="x">
			<img src="https://blog-images.0maru.dev/logo/x-logo-black.svg" style="width: 20px;height:20px;"/>
		</a>
		<a href="https://github.com/0maru" target="_blank" aria-label="GitHub">
			<img src="https://blog-images.0maru.dev/logo/github-mark.svg" style="width: 20px;height:20px;"/>
		</div>
	</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>