<header>
  <div class="container px-lg py-sm">
    <p style="font-size: 1.5rem;">blog.0maru.dev</p>
    <nav>
      <ul class="flex">
        <li><a href="/">Home</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  header {
    width: 100%;
    background-color: #ffffff;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  li {
    margin: 0 0.2rem;
  }

  a {
    padding: 1.5rem;
  }

  a:hover {
    color: #7cc7e8;
  }
</style>
