<header class="h-16 px-4 bg-header text-white tracking-widest">
  <div class="flex justify-between items-center h-full max-w-6xl mx-auto">
    <a class="text-xl" href="/">blog.0maru.dev</a>
    <nav>
      <ul class="flex gap-2 md:gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
