<header class="h-12 px-2 bg-header">
  <div class="flex justify-between items-center items-center h-full max-w-screen-md mx-auto">
    <a class="text-xl text-[#d2d6d7]" href="/">blog.0maru.dev</a>
    <nav>
      <ul class="flex">
      <li class="px-2 text-white"><a href="/">Home</a></li>
      <li class="px-2 text-white"><a href="/tags">Tags</a></li>
      <li class="px-2 text-white"><a href="/about">About</a></li>
    </ul>
  </nav>
  </div>
</header>
