<header class="container">
  <h1>blog.0maru.dev</h1>
  <nav>
    <ul class="flex">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    max-width: 1260px;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 1.2rem;
  }

  li {
    margin: 0 0.2rem;
  }

  a {
    padding: 1.5rem;
  }

  a:hover {
    color: #7cc7e8;
  }
</style>
