html {
  font-family: 'BIZ UDPMincho', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #13171b;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.text-sm {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.text-md {
  font-size: 0.7rem;
  line-height: 1.2rem;
}

.text-right {
  text-align: right;
}

.pt-sm {
  padding-top: 0.5rem;
}

.pt-md {
  padding-top: 1rem;
}

.pb-sm {
  padding-bottom: 0.5rem;
}

.pb-md {
  padding-bottom: 1rem;
}

.py-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-md {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-sm {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-md {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.mt-lg {
  margin-top: 3rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.text-wrap-pretty {
  text-wrap: pretty;
}