---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import BodyBottomScript from "../components/BodyBottomScript.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <BodyBottomScript />
  </body>
</html>
