---
import Tag from '../components/Tag.astro';
import DefaultLayout from '../layouts/Default.astro';

// interface Props {
//   frontmatter: {
//     title: string;
//     description: string;
//     createdAt: string;
//     tags: string[];
//   };
// }

const {frontmatter} = Astro.props;
---

<main>
  <article class="markdown-body pt-md">
    <slot />
  </article>
</main>

<style>
  ul {
    margin-bottom: 0;
  }
</style>

<!-- Markdown にスタイルを当てるのはglobal で書く必要がある -->
<style is:global>
  .markdown-body {
    color: #e5e7eb;
  }

  .markdown-body h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .markdown-body h3 {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.8;
  }

  .markdown-body a {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #0094c6;
    cursor: pointer;
  }

  .markdown-body a:hover {
    text-decoration-color: #0094c6;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  .markdown-body img {
    height: auto;
    object-fit: contain;
  }

  .markdown-body pre {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }

  .rlc-container {
    display: grid;
    grid-template-columns: 1fr 116px;
    gap: 1rem;
    background-color: #1c1c1c;
    border: 1px solid #e5e7ebaa;
    border-radius: 0.5rem;

    @media (min-width: 60ch) {
      grid-template-columns: 1fr 220px;
    }
  }

  .rlc-container > .rlc-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .rlc-container > .rlc-info > .rlc-title {
    color: #e5e7eb;
    font-weight: bold;
  }

  .rlc-container > .rlc-info > .rlc-description {
    color: #e5e7eb;
    font-size: 0.8rem;
  }

  .rlc-container > .rlc-info > .rlc-url-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .rlc-container > .rlc-image-container {
    border-radius: 50%;
    margin: 0;
    grid-column: 2;
    aspect-ratio: 1 / 1;
    @media (min-width: 60ch) {
      aspect-ratio: 1.41 / 1;
    }
  }

  .rlc-container > .rlc-image-container > .rlc-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0 calc(0.5rem - 1px) calc(0.5rem - 1px) 0;
  }
</style>
