---
import Tag from '../components/Tag.astro';
import DefaultLayout from '../layouts/Default.astro';
// interface Props {
//   frontmatter: {
//     title: string;
//     description: string;
//     createdAt: string;
//     tags: string[];
//   };
// }

const {frontmatter} = Astro.props;
---

<main>
  <article class="markdown-body pt-md">
    <slot />
  </article>
</main>

<style>
  ul {
    margin-bottom: 0;
  }
</style>

<!-- Markdown にスタイルを当てるのはglobal で書く必要がある -->
<style is:global>
  .markdown-body {
    color: #e5e7eb;
  }

  .markdown-body h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .markdown-body h3 {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body h4 {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.2;
  }

  .markdown-body p {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  .markdown-body a {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #0094c6;
    cursor: pointer;
  }

  .markdown-body a:hover {
    text-decoration-color: #0094c6;
    text-decoration-line: underline;
    text-decoration-style: solid;
  }

  .markdown-body img {
    margin-top: 1rem;
    height: auto;
    object-fit: contain;
  }

  .markdown-body pre {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
  }
</style>
