---
import BaseHead from "../components/BaseHead.astro";
import BodyBottomScript from "../components/BodyBottomScript.astro";

interface Props {
  frontmatter: {
    title: string;
    createdAt: string;
  };
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{frontmatter.title}</title>
    <BaseHead />
  </head>
  <body>
    <main>
      <slot />
      <p>{frontmatter.createdAt.slice(0, 10)}</p>
    </main>
    <footer></footer>
    <BodyBottomScript />
  </body>
</html>
