name: Deploy

on:
  push:
    branches:
      - 'main'
    paths:
      - src/**
      - public/**

permissions:
  contents: read
  deployments: write

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout commit
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - name: Build Astro
        run: pnpm build
      - name: Deploy Worker
        uses: cloudflare/wrangler-action@v3
        timeout-minutes: 10
        with:
          workingDirectory: ./apps/app
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
